################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TwitchChatFunction/FileContentIndex
/.vs/TwitchChatFunction/v17
/.vs
