<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://twitchchatfunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/aa675b61-4110-4004-a2fe-535e1b310bc9/resourcegroups/DefaultResourceGroup-WUK/providers/Microsoft.Web/sites/TwitchChatFunction</ResourceId>
    <UserName>$TwitchChatFunction</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://twitchchatfunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>